.session {
  margin-top: 10px;
  margin-bottom: 163px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 17px;

  @include mobile {
    margin-top: 50px;
    margin-bottom: 120px;
  }

  &__title {
    @include mobile {
      display: inline-block;
      width: min-content;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    height: 528px;

    @include mobile {
      height: 374px;
    }
  }

  &__img {
    position: absolute;

    &--run {
      z-index: 6;
      left: 50%;
      bottom: -15%;
    }

    &--money {
      height: auto;
      right: 50%;
      translate: 200%;
      top: 5%;
      z-index: 2;
    }

    &--bah1 {
      width: fluid(530, 370);
      height: auto;
      scale: 1.1;
      top: 40%;
      left: 50%;
      translate: -46% -65%;
      z-index: 3;
    }

    &--bah2 {
      z-index: 6;
      bottom: 5%;
      right: 47%;
    }

    &--black-horse {
      z-index: 7;
      bottom: 0%;
      right: 47%;
    }

    &--group {
      scale: 0.9;
      top: 50%;
      left: 55%;
      translate: -50% -50%;
      z-index: 5;
    }

    &--paper {
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    @include mobile {
      &--run {
        width: 193px;
        height: auto;
        left: 50%;
        translate: -7%;
        bottom: -11%;
      }

      &--money {
        scale: 0.8;
        right: 50%;
        translate: 150%;
        top: -5%;
      }

      &--bah1 {
        width: fluid(530, 300);
        height: auto;
        top: 40%;
        left: 50%;
        translate: -50% -65%;
      }

      &--bah2 {
        scale: 0.7;
        bottom: -10%;
        right: 44%;
      }

      &--black-horse {
        scale: 0.7;
        bottom: -17%;
        right: 44%;
      }

      &--group {
        scale: 0.65;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }

      &--paper {
        scale: 0.8;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
    }
  }

  &__content-wrapper {
    margin-top: 47px;
  }

  &__event-info {
    margin-top: 60px;
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: #333;

    @include mobile {
      margin-top: 44px;
    }

    &__row {
      display: table-row;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }
    }

    &__label,
    &__value {
      display: table-cell;
      padding: 8px 0;
      vertical-align: top;
    }

    &__label {
      padding-right: 20px;
      white-space: nowrap;
      border-right: 1px solid #ccc; // вертикальная линия
    }

    &__value {
      padding-left: 20px; // отступ после линии
      font-weight: normal;

      b {
        font-weight: bold;
      }

      s {
        color: #a00;
        margin-right: 8px;
      }
    }

    @media (max-width: 600px) {
      display: block;

      &__row {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
      }

      &__label {
        display: block;
        border-right: none; // убираем линию на мобилке
        margin-bottom: 2px;
        padding-right: 0;
      }

      &__value {
        display: block;
        padding-left: 0;
      }
    }
  }

  &__link {
    margin-top: 48px;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @include tablet {
    grid-template-columns: 1fr;
  }
}
