.support {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title-wrapper {
    width: 100%;
    span.support__title {
      display: inline;
    }

  }

  &__title {
    display: block;
    max-width: 764px;

    @include mobile {
      display: contents;
    }
  }

  @include mobile {

    &__title-wrapper {
      display: contents;
      span.support__title {
        text-align: left;
      }
    }
  }

  @media (max-width: 793px) {
    flex-direction: column;
    gap: 20px;
    span {
      margin-bottom: 0;
      &:first-child {
        order: 0;
      }
      &:last-child {
        order: 2;
      }
      display: block;
    }

    img {
      order: 1;
      width: 100%;
      height: auto;
    }
  }
}